
<section class="cart py-16">

    <div class="order container mx-auto w-1/2">
        <div class="  items-center flex border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="cart">
            <h1 class="text-2xl font-bold ml-4">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="ml-4 flex-1">
                    <h1 class="font-bold text-lg">Mariana</h1>
                    <span>MEDIUM</span>
                </div>
            
                    <span class="flex-1" >1 Pcs</span>
                    <span class="font-bold font-lg">₹300</span>
            
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="ml-4 flex-1">
                    <h1 class="font-bold text-lg">Mariana</h1>
                    <span>MEDIUM</span>
                </div>
            
                    <span class="flex-1" >1 Pcs</span>
                    <span class="font-bold font-lg">₹300</span>
            
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="ml-4 flex-1">
                    <h1 class="font-bold text-lg">Mariana</h1>
                    <span>MEDIUM</span>
                </div>
            
                    <span class="flex-1" >1 Pcs</span>
                    <span class="font-bold font-lg">₹300</span>
            
            </div>
            <hr>
            <div class="text-right">
                <div class="mt-5">
                    <span class="font-bold text-lg">Total Amount :</span>
                    <span class="amount ml-4 font-bold text-2xl ">₹600</span>
                </div>
                <div>
                    <form action="" class="mt-12">
                        <input class="border border-gray-400 p-2 w-1/2 py-2 mb-4" type="text" placeholder="Phone Number">
                        <input class="border border-gray-400 p-2 w-1/2 py-2" type="text" placeholder="Address">
                        <div>
                            <button type="submit" class="btn-primary font-bold text-white py-2 px-6 mt-4 rounded-full">Order Now</button>
                        </div>
                    </form>
                </div>
                <!-- <a href="" class="inline-block cursor-pointer btn-primary font-bold text-white py-2 px-6 mt-4 rounded-full">Login to continue</a> -->
            </div>
    </div>


    </div>

    <!-- <div class="empty-cart container mx-auto text-center py-16">
        <h1 class="font-bold text-3xl mb-3 ">Cart Empty</h1>
        <p class="text-gray-500 mb-12">You probably haven't ordered a pizza yet.<br>To order a pizza, go to main page</p>
        <img class="w-2/5 mx-auto" src="./img/empty-cart.png" alt="empty-cart">
        <button class="mt-12 font-bold text-white btn-primary py-2 px-6 rounded-full ">Go Back</button>
    </div> -->
</section>